{% extends 'base.html' %}

{% block content %}
     <h1>{% block title %}Welcome to the IT Blog {% endblock %}</h1>

     <!-- <p>To create a post, go to <a href="http://127.0.0.1:5000/create" target="_blank">Create Page</a></p>-->
      
         <a class="btn-primary" href="{{url_for('create')}}">New Post</a>
       
     {% for post in posts %}
          <a href="{{ url_for('post', post_id=post['id']) }}">
              <h2>{{ post['title'] }}</h2>
          </a>
          <span class="badge badge-primary">{{ post['created'] }}</span>
          <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
          </a>  
          <hr>
     {% endfor %}
{% endblock %}

