<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Software Development</title>
    </head>    
     <body>
{% block content%}
   <h1> Software Development </h1>
 
       <a class="btn-primary" href="{{url_for('create')}}">New Soft Post</a>
    
   {% for post in posts %}
       <a href="{{ url_for('post', post_id=post['id']) }}">
         <h2>{{ post['title'] }}</h2>
       </a>
       <span class="badge badge-primary">{{ post['created'] }}</span>
       <hr>
    {% endfor %}

{% endblock %}     

 
     </body>   
</html>   